#grad {
    background-color: red;
    background-image: linear-gradient(yellow, red);
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    background-image: linear-gradient(yellow, red);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EB0A0A;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: white;
}

.right {
    width: auto;
    height: 450px;
}

.center {
    text-align: center;
    padding-top: 20px;
}

.banner {
    background: #5D8AA8;
    background-color: orange;
}

.banner-content {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner-text {
    flex-grow: 1;
    line-height: 1.5;
    font-family: "Quicksand", sans-serif;
    color: black;
}

.banner-close {
    background: none;
    border: none;
    cursor: pointer;
}

span {
    color: #ffffff;
}

span:hover {
    background-color: black;
}